APP_PROFILE=personal
API_HOST=0.0.0.0
API_PORT=8000
WEB_PORT=3000
BFF_HOST=0.0.0.0
BFF_PORT=3100
PLATFORM_API_BASE_URL=http://localhost:8000
DAGSTER_PORT=3001
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ad_closure
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATA_DIR=./data
EXAMPLES_DIR=./examples/datasets/custom-local
