node_modules
.pnpm-store
.turbo
.dist
coverage
__pycache__
*.pyc
.venv
.env
.env.local
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
data/lance/*
!data/lance/.gitkeep
data/duckdb/*
!data/duckdb/.gitkeep
data/exports/*
!data/exports/.gitkeep
apps/**/dist
notebooks/*
!notebooks/.gitkeep
docker/dagster/.nux/
docker/dagster/.logs_queue/
docker/dagster/logs/
docker/dagster/storage/
# Test artifacts
reports/
.pytest_cache/
.coverage
htmlcov/
