node_modules
.pnpm-store
.turbo
.dist
coverage
__pycache__
*.pyc
.venv
.env
.env.local
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
data/lance/*
!data/lance/.gitkeep
data/duckdb/*
!data/duckdb/.gitkeep
apps/**/dist